* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: #f0f0f5;
    -web-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}


/* Box Model
 - Modelo de caixa
 * toda caixa tem: largura, altura, espaçamentos, preenchimentos,
 bordas, cor, fundo, maneira que é vista pelo html (display),
 posicionamento, alinhamentos */